body {
  margin: 0;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.content {
  margin-top: 26px;
  margin-bottom: 29px;
  width: 700px;
  flex: 1;
  box-shadow: 8px 8px 9px lightblue;
  padding:15px;
  padding-bottom: 25px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 210, 107, 0.432);
}

li{
  border-radius: 9px;
  margin: 20px;
  box-shadow: 6px 6px 9px lightblue;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 210, 107, 0.432);
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: rgb(255, 0, 0);
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: rgb(156, 227, 155);
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: rgba(75, 244, 227, 0.358);
  
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: rgb(0, 110, 6);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px 8px 3px 8px;
  margin: 9px 8px 9px 8px ;
  border-radius: 25px;
  box-shadow: 4px 4px 7px rgba(169, 193, 202, 0.666);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(210, 107, 107, 0.158);
  
}

.close:hover {
  background-color: #f45f5fc0;
  color: white;
}

/* Style the header */
.header {
  background-color: rgb(46, 153, 51);
  padding: 30px 40px;
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 6px 6px 9px rgb(148, 168, 167);
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  border-radius: 9px 0 0 9px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0 9px 9px 0;
  height: 39px;
}

.addBtn:hover {
  background: rgba(75, 244, 227, 0.358);
}
@media(max-width:650px){
  body{

    display:block;
  }
}